body {
  display: grid;
  background-color: hsl(185, 75%, 39%);
  place-items: center;
  min-height: 100vh;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 390px;
  height: 40vh;
  background-color: white;
  overflow: hidden;
  border-radius: 5%;
}

.card-header {
  background: url("/images/bg-pattern-card.svg") no-repeat center/cover;
  position: relative;
  height: 140px;
}

.card-user-avatar {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 5px solid white;
}
